.AboutDiv {
    display:inline-block;
    float:left;
    width:100%;
    background:#edeae0;
    .FullDiv {
        display:inline-block;
        float:left;
        width:100%;
        height:100vh;
        .Image { 
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
        .Content {
            position: relative;
            z-index: 1;
            width:100%;
            height:100%;
            display:inline-grid;
            align-items:center;
            text-align:center;
            .Info {
                width:100%;
                text-align:center;
                .Title { 
                    text-align:center;
                    margin-bottom:50px;
                    span {
                        font-family:var(--Black);
                        font-size:55px;
                        line-height:65px;
                        color:#fff;
                        width:300px;
                        display:inline-block;
                    }
                }
                .Text {
                    font-family:var(--Black);
                    font-size:25px;
                    color:#fff;
                    line-height:30px;
                }
            }
        }
    }
    .Background {
        display: inline-block;
        float: left;
        width:100%;
        height:160px;
        background:var(--Background1);
    }
}


.TextAndImage {
    display:inline-block;
    width:100%;
    margin-bottom:140px;
    .row {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }
    .ImageDiv {
        position: relative; 
        height: 600px;
        width: 1200px; 
        max-width:1200px;
        border-radius:30px; 
        float: right;
        overflow:hidden;
            overflow:hidden; box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
        &.Right {
            float:right;
        }
        &.Left {
            float:left;
        }
        .Image {
            width: 100%;
            height:100%;
            position: absolute;
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
    .Info {
        display:inline-block;
        width:100%;
        &.TextLeft {
            padding-right:40px;
        }
        &.TextRight {
            padding-left:40px;
        }
        .Title {
            font-family:var(--Bold);
            font-size:34px;
            color:#000;
            line-height:40px;
            margin-bottom:50px;
        }
        .Text {
            font-family:var(--Regular);
            font-size:18px;
            color:#000;
            line-height:30px;
        }
    }
}

.AboutList {
    display:inline-block;
    width:100%;
    margin-bottom:90px;
    .Item {
        display:inline-flex;
        width:100%;
        padding:50px 0;
        border-bottom:solid var(--MainColor) 1px;
        .Number {
            font-family:var(--SemiBold); 
            font-size:34px;
            line-height:40px;
            color:var(--Secondary);
            margin-right:35px;
            padding-top:10px;
        }
        .Name {
            font-family:var(--SemiBold);
            font-size:54px;
            line-height:64px;
            color:var(--Color1);
        }
    }
}


.AboutGallery {
    display:inline-block;
    width:100%;
    margin-bottom:100px;
    .Item {
        display:inline-block;
        width:100%;
        .Image {
            width:100%;
            height:580px;
            overflow:hidden;
            border-radius:30px;
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
}