.Favorites {
    display:inline-block;
    float:left;
    width:100%;
    background:#f7f8fa;
    padding-top:70px;
    padding-left:80px;
    padding-bottom:200px;
    .Head { 
        position:relative;
        height: 210px;
        &:after {
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            background-image: linear-gradient(to bottom, rgba(247, 248, 250, 0) 0%, rgba(247, 248, 250, 1) 100%);

        }
        .Title {
            font-family:var(--Black);
            font-size:165px;
            width:100%;
            text-align:center;
            color:#64A9A0;
            line-height:196px;
            position:relative;
           
        }
    }
    .FavoItems {
        padding-top:50px;
        .Item {
            display:inline-block;
            width:100%;
            border:solid var(--Secondary) 1px;
            background:#FAF9F6;
            border-radius:20px;
            overflow:hidden;
            padding:16px 20px;
            .Top {
                border-bottom:solid var(--Secondary) 1px;
                padding-bottom:15px;
                position:relative;
                .Name {
                    font-family:var(--SemiBold);
                    font-size:18px;
                    color:#000;
                    line-height:21px;
                }
                .Remove {
                    position:absolute;
                    right: 0;
                    top: -3px;
                }
            }
            .List {
                display:inline-block;
                width:100%;
                padding:14px 0;
                border-bottom:solid var(--Secondary) 1px;
                div {
                    display:inline-block; 
                    float:left;
                    font-family:var(--Regular);
                    font-size:14px;
                    color:#000;
                    &.First {
                        width:40%;
                    }
                    &.Middle {
                        width:30%;
                        text-align:center;
                    }
                    &.Last {
                        width:30%;
                        text-align:right;
                    }
                }
            }
            .Image {
                display: inline-block;
                width: 100%; 
                text-align:center;
                margin:26px 0;
                img {
                    max-width:100%;
                    height:260px;
                }
            }
            .Price {
                margin-bottom:14px;
                span {
                    font-family:var(--SemiBold);
                    font-size:18px;
                    color:#000;
                }
                label {
                    font-family:var(--Regular);
                    font-size:32px;
                    line-height:38px;
                    font-weight:normal;
                    color:#000;
                    width:100%;
                    margin-top:14px;
                    margin-left:-3px;
                }
            }
            .PriceList {
                display:inline-flex;
                width:100%;
                div {
                    display:inline-block;
                    margin-right:30px;
                    font-family:var(--Regular);
                    font-size:14px;
                    color:#000;
                    span {
                        display:inline-block;
                        width:100%;
                    }
                }
            }
        }
    }
}