.FilterDiv {
    display:inline-block;
    width:100%;
    padding:60px 0;
    background:#f7f8fa;
    .Head {
        border-bottom:solid var(--Color1) 1px;
        .Left {
            padding-right:14px;
        } 
        .Buttons {
            .ButtonWhite {
                border:solid rgba(30,41,59,0.5) 1px;
                font-size:16px;
                padding:0 20px;
                font-family:var(--Regular);
            }
        }
    }
    .Content { 
        &.Border {
            border-bottom:solid rgba(30,41,59,1) 1px;
        }
        .TopInfo {
            height:55px;
            width:100%;
            line-height:55px; 
            border-bottom: solid rgb(30, 41, 59) 1px;
            position:relative;
            &:after {
                content: "";
                position: absolute;
                width: 30px;
                height: 1px;
                background: rgb(30, 41, 59);
                bottom: -1px;
                left: -24px;
            }
            .Price {
                display:inline-block;
                span {
                    font-family:var(--Regular);
                    font-size:16px;
                    color:#000;
                    margin-right:26px;
                }
            }
        }
        .Info {
            display:inline-block;
            width:100%;
            text-align:center;
            padding-top:10px;
            .Image {
                height:100%;
                img {
                    height:100%;
                }
            }
        }
        .ApartList {
            padding-top:50px;
            .row {
                margin-left:-5px;
                margin-right:-5px;
            }
            .col-sm-4 {
                padding-left:5px;
                padding-right:5px;
            }
            .Item {
                display:inline-block;
                width:100%;
                border:solid var(--Secondary) 1px; 
                border-radius:20px;
                overflow:hidden;
                padding:0px 10px 16px 10px;
                margin-bottom:4px;
                .List {
                    display:inline-block;
                    width:100%;
                    padding:14px 0;
                    border-bottom:solid var(--Secondary) 1px;
                    div {
                        display:inline-block; 
                        float:left;
                        font-family:var(--Regular);
                        font-size:10px;
                        color:#000;
                        &.First {
                            width:40%;
                        }
                        &.Middle {
                            width:30%;
                            text-align:center;
                        }
                        &.Last {
                            width:30%;
                            text-align:right;
                        }
                    }
                }
                .Image {
                    display: inline-block;
                    width: 100%; 
                    text-align:center;
                    margin:5px 0;
                    img {
                        max-width:100%;
                        height:260px;
                    }
                }
                .Price {
                    margin-bottom:14px;
                    span {
                        font-family:var(--SemiBold);
                        font-size:18px;
                        color:#000;
                    }
                    label {
                        font-family:var(--Regular);
                        font-size:24px;
                        line-height:28px;
                        font-weight:normal;
                        color:#000; 
                        width:50%; 
                        margin-top:14px;
                        margin-left:-3px;
                    }
                }
                .PriceList {
                    display:inline-flex;
                    width:100%;
                    div {
                        display:inline-block;
                        margin-right:30px;
                        font-family:var(--Regular);
                        font-size:12px;
                        color:#000;
                        span {
                            display:inline-block; 
                        }
                    }
                }
            }
        }
    }
    .ApartGallery {
        display:inline-block;
        width:100%;
        margin-top:26px;
        overflow:hidden;
        position:relative;
        .Item {
            .Image {
                width:100%;
                height:215px;
                padding:0 10px;
                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }
        }
    }
}

.Sidebar {
    display: inline-block;
    width: 100%;
    border-right: solid var(--Color1) 1px;
    padding-right: 14px;
    .SidebarTitle {
        height:55px;
        line-height:54px;
        font-family:var(--SemiBold);
        font-size:24px;
        color:var(--Color1);
        border-bottom: solid var(--Color1) 1px;
        margin-bottom:10px;
        position:relative;
        &:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background: rgb(11, 12, 14);
            bottom: -1px;
            right: -24px;
        }
    }
    .Image {
        width: 100%;
        height: 280px;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ApartCondition {
        height: 55px;
        width: 100%;
        line-height: 55px;
        border-bottom: solid rgb(30, 41, 59) 1px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background: rgb(30, 41, 59);
            bottom: -1px;
            right: -24px;
        }
        span {
            font-family:var(--Regular);
            font-size:14px;
            color:#000;
        }
    }
    .ApartInfo {
        padding: 10px 0;
        border-bottom: solid var(--Color1) 1px;
        padding-bottom: 20px;
        .Item {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            span {
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                background: var(--MainColor);
                border-radius: 100%;
                margin-right: 20px;
                font-family: var(--Regular);
                font-size: 14px;
                color: #000;
            }
            label {
                font-family: var(--Regular);
                font-size: 14px;
                color: 000;
            }
        }
    }
    .ApartPrice {
        margin: 20px 0;
        position: relative;
        border-bottom: solid var(--Color1) 1px;
        padding-bottom: 17px;
        .PDF {
            font-family: var(--SemiBold);
            font-size: 18px;
            color: #000;
            text-decoration: none;
            position: absolute;
            right: 0;
            top: 0;
        }
        .Price {
            margin-bottom: 14px;
            span {
                font-family: var(--SemiBold);
                font-size: 18px;
                color: #000;
            }
            label {
                font-family: var(--Regular);
                font-size: 32px;
                line-height: 38px;
                font-weight: normal;
                color: #000;
                width: 50%;
                margin-top: 14px;
                margin-left: -3px;
            }
        }
        .PriceList {
            display: inline-flex;
            width: 100%;
            div {
                display: inline-block;
                margin-right: 30px;
                font-family: var(--Regular);
                font-size: 14px;
                color: #000;
                span {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
    .BookingDiv {
        padding:10px 0 30px 0;
        display: inline-block;
        width:100%;
    }
}




