@font-face {
    font-family: 'NotoSansGeorgianSemiBold';
    src: url('../fonts/NotoSansGeorgian-SemiBold.eot');
    src: url('../fonts/NotoSansGeorgian-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansGeorgian-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSansGeorgian-SemiBold.woff') format('woff'),
        url('../fonts/NotoSansGeorgian-SemiBold.ttf') format('truetype'),
        url('../fonts/NotoSansGeorgian-SemiBold.svg#NotoSansGeorgian-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'NotoSansGeorgianMedium';
    src: url('../fonts/NotoSansGeorgian-Medium.eot');
    src: url('../fonts/NotoSansGeorgian-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansGeorgian-Medium.woff2') format('woff2'),
        url('../fonts/NotoSansGeorgian-Medium.woff') format('woff'),
        url('../fonts/NotoSansGeorgian-Medium.ttf') format('truetype'),
        url('../fonts/NotoSansGeorgian-Medium.svg#NotoSansGeorgian-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansGeorgianBold';
    src: url('../fonts/NotoSansGeorgian-Bold.eot');
    src: url('../fonts/NotoSansGeorgian-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansGeorgian-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansGeorgian-Bold.woff') format('woff'),
        url('../fonts/NotoSansGeorgian-Bold.ttf') format('truetype'),
        url('../fonts/NotoSansGeorgian-Bold.svg#NotoSansGeorgian-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansGeorgianExtraBold';
    src: url('../fonts/NotoSansGeorgian-ExtraBold.eot');
    src: url('../fonts/NotoSansGeorgian-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansGeorgian-ExtraBold.woff2') format('woff2'),
        url('../fonts/NotoSansGeorgian-ExtraBold.woff') format('woff'),
        url('../fonts/NotoSansGeorgian-ExtraBold.ttf') format('truetype'),
        url('../fonts/NotoSansGeorgian-ExtraBold.svg#NotoSansGeorgian-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansGeorgianRegular';
    src: url('../fonts/NotoSansGeorgian-Regular.eot');
    src: url('../fonts/NotoSansGeorgian-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansGeorgian-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansGeorgian-Regular.woff') format('woff'),
        url('../fonts/NotoSansGeorgian-Regular.ttf') format('truetype'),
        url('../fonts/NotoSansGeorgian-Regular.svg#NotoSansGeorgian-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

