.HomeSection {
    background:red;
    width:100%;
    height:100%;
    .Image {
        width:100%;
        height:100%;
    }
}


.FirstDIv {
    width:300px;
    height:100%;
}
.LastDiv {
    width:80px;
    height:100%;
}

.WhyyLivio {
    display:inline-block;
    width:476px;
    height:580px;
    border-radius:30px;
    background:#F8F8F5;
    border:solid rgba(30,41,59,0.5) 1px;
    padding:40px 30px;
    .Title {
        font-family:var(--ExtraBold);
        font-size:24px;
        color:var(--Color1); 
        text-align:center;
        margin-bottom:60px;
    }
    .Content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2-2 ზე დაყოფა */
        gap: 20px; /* აიტემებს შორის დაშორება */
        .Item {
            text-align: center;
            .Icon {
                margin-bottom:50px;
                img {
                    height:114px;
                    width:114px;
                }
            }
            .Text {
                font-family:var(--Bold);
                font-size:18px;
                color:var(--Color1);
            }
        }
    }
}

.ChooiseApartments {
    display:inline-block;
    width:440px;
    height:580px;
    border-radius:30px;
    background:#F8F8F5;
    border:solid rgba(30,41,59,0.5) 1px;
    padding:15px 20px;
    .Title {
        font-family:var(--ExtraBold);
        font-size:24px;
        color:var(--Color1); 
        text-align:center;
        margin-bottom:12px;
    }
    .Text {
        font-family:var(--Regular);
        font-size:14px;
        text-align:center;
        margin-bottom:20px;
    }
    .Image {
        height:400px;
        width:100%;
        text-align:center;
        img {
            height:100%;
        }
    }
}

.SmallProjectItem {
    display:inline-block;
    width:1120px;
    height:580px;
    border-radius:30px; 
    position:relative;
    .Image {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
    .City {
        font-family:var(--SemiBold);
        font-size:24px;
        color:#fff;
        position:absolute;
        top:30px;
        left:60px;
    }
    .Button {
        height:56px;
        line-height:56px;
        border-radius:30px;
        font-family:var(--SemiBold);
        font-size:18px;
        color:#fff;
        text-decoration:none;
        background:rgba(255,255,255,0.2);
        padding:0 23px;
        position:absolute;
        top:30px;
        right:30px;
        transition:0.3s;
        z-index:2;
        &:hover {
            background:#fff;
            color:var(--Color1);
        }
    }
    .Content {
        position:relative;
        z-index:1;
        padding-left:60px;
        padding-top:100px;
        .Title {
            font-family:var(--SemiBold);
            font-size:78px;
            color:#fff;
            line-height:130%;
            margin-bottom:65px;
        }
        .Status {
            span {
                font-family:var(--SemiBold);
                font-size:24px;
                color:#fff;
                display:inline-flex;
                align-items:center;
            }
            &.Live span {
                color:#00BE3F;
            }
            .Live {
                height:54px;
                line-height:52px;
                border-radius:30px;
                background:#FF4646;
                display:inline-block;
                padding:0 15px;
                font-family:var(--SemiBold);
                font-size:18px;
                color:#fff;
                margin-left:30px;
                label {
                    padding-left:5px;
                }
                @keyframes live-wave {
                    0% {
                        transform: scale(0.9);
                        opacity: 0;
                    }
                    40% {
                        opacity: 0.7;
                    }
                    100% {
                        transform: scale(1.15);
                        opacity: 0;
                    }
                }
                @keyframes live-play {
                    0%,100% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0.6;
                    }
                } 
                .LiveSVG {
                    width: 24px;
                    height: 24px;
                    .Wave {
                        opacity: 0.4;
                        transform-origin: center;
                        transform-box: fill-box;
                        animation: live-wave 1.2s ease-out infinite;
                    }
                    .WaveInner {
                        animation-delay: 0.25s;
                    }
                    .Play {
                        animation: live-play 1.2s ease-in-out infinite;
                    }
                }
            }
        }
    }
    .Bottom {
        position:absolute;
        bottom:50px;
        left:60px;
        padding-right:60px;
        display:inline-flex;
        align-items:center;
        
        .Info {
            padding-left:50px;
            .Item {
                font-family:var(--SemiBold);
                font-size:24px;
                color:#fff;
                display:inline-block;
                width:240px;
                text-align:center;
            }
        }
    }
}

.AllProjectSmall {
    display:inline-block;
    width:476px;
    height:580px;
    border-radius:30px;     
    background:#F8F8F5;
    border:solid rgba(30,41,59,0.5) 1px; 
    padding:15px 0;
    position:relative;
    .Title {
        font-family:var(--ExtraBold);
        font-size:24px;
        color:var(--Color1); 
        text-align:center;
        margin-bottom:12px;
        padding:0 20px;
    }
    .Text {
        font-family:var(--Regular);
        font-size:14px;
        text-align:center;
        margin-bottom:20px;
        padding:0 20px;
    }
    .Image {
        height:414px;
        width:100%;
        text-align:center;
        position:absolute;
        bottom:0;
        left:0;
        img {
            width:100%;
            height:100%;
        }
    }
    .ButtonDiv {
        position:absolute;
        bottom:50px;
        left:0;
        transition:0.3s;
        text-align:center;
        width:100%;
        
    }
}

.OnlyImageSmall {
    display:inline-block;
    width:490px;
    height:580px;
    border-radius:30px;
    background:#F8F8F5;  
}

.ProjectInfoSmall {
    display:inline-block;
    width:1102px;
    height:580px;
    border-radius:30px;
    background:#fff;  
    border:solid var(--MainColor) 1px;
    .Content {
        display:inline-flex;
        align-items:center;
        width:100%;
        position:relative;
        .Info {
            width:calc(100% - 697px);
            display: flex;
            flex-direction: column; 
            padding:33px;
            .Title {
                font-family:var(--ExtraBold);
                font-size:24px;
                color:#000;
                position:absolute;
                top:30px;
                left:33px;
            }
            .Text {}
            a {
                position:absolute;
                bottom:30px;
                left:33px;
            }
        }
        .Image {
            width:697px;
            height:100%;
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
}



.HomeGallery {
    .row {
        display:inline-flex;
        align-items:center;
        width:100%;
    }
    .TopInfo {
        margin-bottom:20px;
        .Title {
            color:#000;
            font-family:var(--ExtraBold);
            font-size:24px;
        }
    }
    .Content {
        .Image {
            display:inline-block;
            width:450px;
            height:484px;
            border-radius:30px;
            border:solid var(--MainColor) 1px;
            margin-right:15px;
            &:last-child {
                margin:0;
            }
            &.Big {
                width:600px;
            }            
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
}
 

.TabsDiv {
    display:inline-flex;
    height:580px;
    border-radius:30px;
    background:#fff;
    border:solid var(--MainColor) 1px;
    margin-right:300px;
    .Left {
        padding:24px 40px 24px 30px;
        width:410px;
        .Title {
            font-family:var(--ExtraBold);
            font-size:24px;
            color:#000;
            margin-bottom:12px;
            line-height:130%;
            &.MarginBottom {
                margin-bottom:34px;
            }
        }
        .Text {
            font-family:var(--Regular);
            font-size:16px;
            color:#000;
            margin-bottom:20px;
            line-height:130%;
        }
        .TabNav {
            width:100%;
            &.MarginBottom {
                margin-bottom:70px;
            }
            .nav-tabs {
                border-bottom:0;
                margin-bottom:10px;
            }
            .nav-link {
                width:100%;
                border:solid var(--MainColor) 1px;
                height:62px; 
                margin-bottom:15px;
                border-radius:30px;
                font-family:var(--Bold); 
                color:#000;
                text-align:left;
                padding:0 26px;
                transition:0.3s;
                &.active {
                    border:solid var(--Secondary) 1px;
                    background:#EBF1F0;
                }
                &:hover {
                    border:solid var(--Secondary) 1px;
                    background:#EBF1F0;
                }
                span {
                    float:right;
                    font-family:var(--ExtraBold);
                    font-size:18px;
                    color:#000;
                    opacity:0;
                    transition:0.3s;
                }
                &.active {
                    span {
                        opacity:1; 
                    }
                }
                label {
                    font-family:var(--ExtraBold);
                }
            }
        }
    }
    .Right {
        width:460px;
        height:100%;
        border-left:solid var(--MainColor) 1px;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
        position:relative;
        .tab-content {
            height:100%;
            .tab-pane {
                height:100%;
            }
        }
        .Image {
            display:inline-flex;
            align-items:center;
            height:100%;
            padding:12px;
            img {
                max-width:100%;
                max-height:100%;
            }
        }
        .BtnDiv {
            position:absolute;
            left:0;
            bottom:20px;
            z-index:9;
            width:100%;
            text-align:center;
        }
    }
    .RightBig {
        width:800px;
        height:100%;
        border-left:solid var(--MainColor) 1px;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
        overflow:hidden;
        .tab-content {
            height:100%;
            .tab-pane {
                height:100%;
            }
        }
        .Image {
            width:100%;
            height:100%; 
            img {
                width:100%;
                height:100%;
            }
        }
    }

    
    &.WithBG {
        background:#F8F8F5;
        border:solid rgba(30,41,59,0.2) 1px;
        .Right {
             border:solid rgba(30,41,59,0.2) 1px;
            .Image {
                padding:68px;
            }
        }
    }
}


.FullPage {
    width:100%;
    height:100%;
    background:red;
    border-radius:0 !important;
    height:120vh;
    position:relative;
    position:relative;
    .Background {
        width:100%;
        height:100%;
        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }
    .Content {
        position:absolute;
        bottom:100px;
        left:110px;
        z-index:9;
        display:inline-flex;
        .ModeIcons {
            width:75px;
            height:145px;
            padding:5px;
            background:rgba(189,211,208,0.2);
            border-radius:10px;
            border:solid #1E293B 1px;
            margin-right:20px;
            .Icon {
                width:100%;
                height:65px;
                background:#fff;
                border-radius:10px;
                text-align:center;
                line-height:65px;
                cursor:pointer;
                &:first-child {
                    margin-bottom:5px;
                }
            }
        }
        .Info {
            width:625px;
            max-width:100%;
            height:145px;
            border-radius:10px;
            background: rgba(189, 211, 208, 0.3) ; 
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px); 
            border: 1px solid rgba(189, 211, 208, 1);
            padding:10px 30px 15px 30px;
            .Title {
                font-family:var(--SemiBold);
                font-size:24px;
                color:#fff;
                margin-bottom:12px;
            }
            .Text {
                font-family:var(--SemiBold);
                font-size:14px; 
                color:#fff;
                line-height:17px;
            }
        }
    } 
} 


.BlogSection {
    .SectionTitle {
        font-family:var(--ExtraBold);
        font-size:54px;
        color:var(--Color1);
        width:900px;
        max-width:100%;
        line-height:64px;
        margin:90px 0 100px 80px;
    }
    padding:0 15px 0 90px;
    .BlogDiv {
        padding-left:100px;
        border:solid rgba(30,41,59,0.5) 1px;
        padding:20px 30px;
        border-radius:30px;
        margin-bottom:70px;
        .Head {
            .Title {
                font-family:var(--ExtraBold);
                font-size:24px;
                color:var(--Color1);
                line-height:28px; 
                margin-bottom:20px;
            }
            .Text {
                font-family:var(--Regular);
                font-size:14px;
                color:#000;
                line-height:17px;
                max-width:540px;
            }
        }
        .Content {
            display:inline-block;
            width:100%;
            margin-top:20px;
            .Item {
                display:inline-block;
                width:100%;
                height:400px;
                border-radius:30px;
                position:relative;
                overflow:hidden;
                .ButtonWhite {
                    position:absolute;
                    top:20px;
                    left:20px;
                    background:rgba(255,255,255,0.8);
                    border:none;
                }
                .Image {
                    width:100%;
                    height:100%;
                    img {
                        width:100%;
                        height:100%;
                        object-fit:cover;
                    }
                } 
                .Title {
                    width:100%;
                    position:absolute;
                    bottom:25px;
                    left:30px;
                    padding-right:30px;
                    font-family:var(--SemiBold);
                    font-size:24px;
                    color:#000;
                    line-height:28px;
                    z-index:1;
                }
                .Gradient {
                    width:100%;
                    height:132px;
                    position:absolute;
                    bottom:0px;
                    left:0;
                    background: linear-gradient(
                    180deg,
                        rgba(237, 234, 224, 0) 0%,   /* 0%  EDEAE0 0%   */
                        rgba(237, 234, 224, 1) 54%,  /* 54% EDEAE0 100% */
                        rgba(237, 234, 224, 1) 100%  /* 100% EDEAE0 100% */
                    ); 
                    border-radius:10px;
                }
            }
        } 
    }
}
 