.LeftPanel {
    width:80px;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    background:var(--Background1);
    text-align:center;
    padding:20px 12px 70px 12px; 
    .Hamburger {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        img {
             
        }
    }
    .Language {

    }

    .Reserve {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        position:absolute;
        bottom:156px;
        left:12px;
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
    }
    .Contact {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        position:absolute;
        bottom:70px;
        left:12px;
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
    }
}
 


.MainMenu {
    width:932px;
    height:100%;
    position:fixed;
    top:0;
    left:-932px;
    z-index:99;
    background:#FAF9F6 url('../img/main_image_bg_1.png') no-repeat center bottom;
    box-shadow: 20px 0 50px 0 rgba(30, 41, 59, 0.1);
    padding-left:80px;
    padding-right:80px;
    padding-top:23px;
    visibility:hidden;
    opacity:0;
    transition:0.5s;
    .Top {
        text-align:center;
        margin-bottom:50px;
        .ButtonWhite {
            padding-left:50px;
            padding-right:50px;
        }
    }
    .Menu {
        ul {
            li {
                display:inline-block;
                list-style:none;
                width:100%;
                margin:20px 0; 
                a {
                    font-family:var(--ExtraBold);
                    font-size:54px;
                    color:var(--Color1);
                    line-height:64px;
                    text-decoration:none;
                    transition:0.3s;
                    &:hover {
                        letter-spacing:4px;
                        opacity:0.5;
                        padding-left:10px;
                    }
                }
            }
        }
    }
    .Bottom {
        display:inline-flex;
        align-items: flex-end;
        position:absolute;
        bottom:70px;
        left:80px;
        .Contact {
            display:inline-block;
            width:300px;
            max-width:100%;
            a {
                display:inline-block;
                width:100%;
                font-family:var(--Medium);
                font-size:18px;
                line-height:21px;
                color:var(--Color1);
                text-decoration:none;
                margin-bottom:34px;
                transition:0.3s;
                &:last-child {
                    margin-bottom:0;
                }
                &:hover {
                    opacity:0.7;
                }
            }
        }
        .Social {
            a {
                font-family:var(--Medium);
                font-size:18px;
                line-height:21px;
                color:var(--Color1);  
                text-decoration:none;
                opacity:0.4;
                transition:0.3s;
                margin-right:40px;
                &:hover {
                    opacity:1;
                }
            }
        }
    }
} 
.ShowMenu {
    .MainMenu {
        left:80px;
        opacity:1;
        visibility:visible;
    }
}