.LeftPanel {
    width:80px;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:var(--Background1);
    text-align:center;
    padding:20px 12px 70px 12px;
    z-index:9; 
    .Hamburger {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        img {
             
        }
    }
    .Language {

    }

    .Reserve {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        position:absolute;
        bottom:156px;
        left:12px;
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
    }
    .Contact {
        cursor:pointer; 
        width:56px;
        height:56px;
        border-radius:20px;
        background:var(--Background2);
        position:absolute;
        bottom:70px;
        left:12px;
        border:solid rgba(245,246,248,0.2) 1px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
    }
}
 