.PageDiv {
    display:inline-block;
    width:100%;
    margin-bottom:60px;
    .Cover {
        display:inline-block;
        width:100%;
        height:460px;
        position:relative;
        margin-bottom:60px;
        .Image {
            width:100%;
            height:100%;
            object-fit:cover;
            position:absolute;
            left:0;
            top:0;
            img {
                width:100%;
                height:100%;
                object-fit:cover; 
            }
        }
        .Content {
            display:inline-flex;
            align-items:center;
            width:100%;
            height:100%;
            text-align:center;
            position:relative;
            z-index:1;
            .Title {
                font-family:var(--Black);
                font-size:100px;
                color:#fff;
                line-height:119px;
            }
        }
    }
    .Text {
        font-size:16px;
        color:var(--Color1);
    }
    
}