.ProjectsDiv {
    display:inline-block;
    float:left;
    width:100%;
    background:var(--Background1);
    padding-top:70px;
    .Head { 
        position:relative;
        height: 210px;
        &:after {
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            background-image: linear-gradient(to bottom, rgba(0, 29, 50, 0) 0%, rgba(0, 29, 50, 1) 100%);

        }
        .Title {
            font-family:var(--Black);
            font-size:165px;
            width:100%;
            text-align:center;
            color:#64A9A0;
            line-height:196px;
            position:relative;
           
        }
    }
    .Project {
        display:inline-block;
        float:left;
        width:100%;
        height:720px;
        overflow:hidden;
        position:relative;
        margin-top:50px;
        .Image {
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
        .Info {
            position:relative;
            z-index:1;
            height:100%;
            display:inline-flex;
            align-items:center;
            width:100%;
            .Number {
                font-family:var(--ExtraBold);
                font-size:34px;
                line-height:40px;
                color:#fff;
                margin-bottom:40px;
            }
            .City { 
                font-family:var(--SemiBold);
                font-size:24px;
                line-height:28px;
                color:#fff;
                margin-bottom:40px;
            }
            .Name {
                font-family:var(--SemiBold);
                font-size:78px;
                line-height:92px;
                color:#fff;
                width:100px;
                margin-bottom:40px;
            }
            .Status {
                font-family:var(--SemiBold);
                font-size:24px;
                line-height:28px;
                color:#00BE3F;
                margin-bottom:100px;
            }
            .Bottom {  
                display: inline-flex;
                align-items: center;
                width:100%;
                .ButtonWhite {
                    min-width:200px;
                }
                .Info {
                    width:100%;
                    .Item {
                        font-family: var(--SemiBold);
                        font-size: 24px;
                        color: #fff;
                        display: inline-block;
                        width: 240px;
                        text-align: center;
                    }
                }
            }
        }
    }
}