:root {
    --Background1: #001D32; 
    --Background2: #1E293B;  

    --Color1: #1E293B;

    --MainColor: #BDD3D0;

    --Secondary: #64A9A0;
 
    /* Fonts */
    --Regular: NotoSansGeorgianRegular;
    --SemiBold: NotoSansGeorgianSemiBold;
    --Medium: NotoSansGeorgianMedium;
    --Bold: NotoSansGeorgianBold; 
    --ExtraBold: NotoSansGeorgianExtraBold;  
    --Black: NotoSansGeorgianBlack;
    
}

ul {
    padding:0;
    margin:0;
}
